<template>
  <div>
    <!-- Default form contact -->
    <form>
      <p class="h4 text-center mb-4">Add new bank account</p>

      <!-- Default input name -->
      <label for="firstName" class="grey-text">First name</label>
      <input type="text" id="firstName" class="form-control">

      <br>

      <!-- Default input name -->
      <label for="lastName" class="grey-text">Last name</label>
      <input type="text" id="lastName" class="form-control">

      <br>

      <!-- Default input email -->
      <label for="email" class="grey-text">Your email</label>
      <input type="email" id="email" class="form-control">

      <br>

      <!-- Default input subject -->
      <label for="age" class="grey-text">Age</label>
      <input type="text" id="age" class="form-control">

      <br>

      <!-- Default input subject -->
      <label for="gender" class="grey-text">Gender</label>
      <input type="text" id="gender" class="form-control">

      <br>

      <!-- Default input subject -->
      <label for="address" class="grey-text">Address</label>
      <input type="text" id="address" class="form-control">

      <br>

      <!-- Default input subject -->
      <label for="city" class="grey-text">City</label>
      <input type="text" id="city" class="form-control">

      <br>

      <!-- Default input subject -->
      <label for="state" class="grey-text">State</label>
      <input type="text" id="state" class="form-control">

      <br>

      <div class="text-center mt-4">
        <button class="btn btn-outline-warning" type="submit">Save<i class="far ml-2"></i></button>
      </div>
    </form>
    <!-- Default form contact -->
  </div>
</template>

<script>
    import { mdbInput, mdbBtn, mdbTextarea } from 'mdbvue';
    export default {
        name: 'BankAccountList',
        components: {
            mdbInput,
            mdbBtn,
            mdbTextarea
        }
    }
</script>

<style scoped>
  .addForm {
    width: 960px;
    margin: auto;
    padding-top: 20px;
  }
</style>
