<template>
  <div class="user-list">
    <div class="alert alert-dismissible fade show" v-bind:class="messageType" role="alert" v-show="alertSuccess">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" v-on:click="alertSuccess = false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container text-right">
      <mdb-btn @click.native="showModal = true, account = []" color="info">ADD NEW BANK ACCOUNT</mdb-btn>
    </div>
    <div class="container table-list">
      <form v-on:submit="searchAccount" novalidate class="needs-validation">
        <h3>Search</h3>
        <div class="box left-box">
          <mdb-input size="sm" label="First Name" group type="text" validate error="wrong" success="right" v-model="search.firstname" />
          <mdb-input size="sm" label="Last Name" group type="text" validate error="wrong" success="right" v-model="search.lastname"/>
        </div>
        <div class="box right-box">
          <mdb-input size="sm" label="Email" group type="email" validate error="wrong" success="right" v-model="search.email" invalidFeedback="Please enter correct email."/>
          <mdb-input size="sm" label="Employer" group type="text" validate error="wrong" success="right" v-model="search.employer"/>
        </div>
        <div class="clearfix"></div>
        <div class="text-center">
          <mdb-btn color="secondary" type="clear" @click="clearSearch">Clear</mdb-btn>
          <mdb-btn color="primary" type="submit">Search</mdb-btn>
        </div>
      </form>
    </div>
    <div class="container table-list">
      <h3>Bank Accounts List</h3>
      <mdb-tbl>
        <mdb-tbl-head>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Gender</th>
            <th>City</th>
            <th>Employee</th>
            <th>Balance</th>
            <th>Action</th>
          </tr>
        </mdb-tbl-head>
        <mdb-tbl-body>
          <tr v-for="(account, index) in data.rows ">
            <th>{{index + 1}}</th>
            <th>{{account.firstname + ' ' + account.lastname}}</th>
            <td>{{account.email}}</td>
            <td>{{account.age}}</td>
            <td>{{account.gender}}</td>
            <th>{{account.city}}</th>
            <td>{{account.employer}}</td>
            <td>{{account.balance}}</td>
            <td v-show="role === '0'">
              <mdb-btn gradient="blue" rounded size="sm" @click="showUpdateAccount(account)"><mdb-icon far icon="edit" /></mdb-btn>
              <mdb-btn gradient="peach" rounded size="sm" @click="showDeleteModal(account._id)"><mdb-icon  icon="times" /></mdb-btn>
            </td>
          </tr>
        </mdb-tbl-body>
      </mdb-tbl>
<!--      <mdb-datatable-->
<!--        :data="data"-->
<!--        striped-->
<!--        bordered-->
<!--        :pagination="true"-->
<!--      />-->
    </div>
    <mdb-container>
      <mdb-row>
        <form v-on:submit.prevent="saveAccount">
          <input type="hidden" v-model="account._id">
          <mdb-col size="12" class="text-center mb-5">
          <mdb-modal v-show="showModal" @close="showModal = false" cascade class="text-left">
            <mdb-modal-header class="primary-color white-text">
              <h4 class="title">Add new bank account</h4>
            </mdb-modal-header>
            <mdb-modal-body class="grey-text">
              <mdb-input size="sm" label="First name" group type="text" validate error="wrong" success="right" v-model="account.firstname"/>
              <mdb-input size="sm" label="Last name" group type="text" validate error="wrong" success="right" v-model="account.lastname"/>
              <mdb-input size="sm" label="Email" group type="email" validate error="wrong" success="right" v-model="account.email"/>
              <mdb-input size="sm" label="Address" group type="text" validate error="wrong" success="right" v-model="account.address"/>
              <select name="gender" id="" class="browser-default custom-select" v-model="account.gender">
                <option selected>Select gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
              </select>
              <mdb-input size="sm" label="Age" group type="number" validate error="wrong" success="right" v-model="account.age"/>
              <select name="employer" class="browser-default custom-select" v-model="account.employer">
                <option selected>Select employee</option>
                <option value="Staff A">Staff A</option>
                <option value="Staff B">Staff B</option>
                <option value="Staff C">Staff C</option>
              </select>
              <br>
              <br>
              <select name="city" class="browser-default custom-select" v-model="account.city">
                <option selected>Select city</option>
                <option value="Hanoi">Hanoi</option>
                <option value="Tokyo">Tokyo</option>
                <option value="Seoul">Seoul</option>
              </select>
              <mdb-input size="sm" label="state" group type="text" validate error="wrong" success="right" v-model="account.state"/>
            </mdb-modal-body>
            <mdb-modal-footer>
              <mdb-btn color="secondary" @click.native="showModal = false">Close</mdb-btn>
              <mdb-btn color="primary" type="submit">Save changes</mdb-btn>
            </mdb-modal-footer>
          </mdb-modal>
        </mdb-col>
        </form>
      </mdb-row>
    </mdb-container>
    <!-- Modal -->
    <mdb-modal v-show="deleteModal" @close="deleteModal = false" cascade class="text-left">
      <mdb-modal-body class="grey-text">
          Are you sure to delete this bank account ?
      </mdb-modal-body>
      <mdb-modal-footer>
        <mdb-btn color="secondary" @click.native="deleteModal = false">Cancel</mdb-btn>
        <mdb-btn color="danger" @click="deleteAccount(account._id)">Delete</mdb-btn>
      </mdb-modal-footer>
    </mdb-modal>
  </div>
</template>

<script>
    import axios from 'axios';
    import { mdbDatatable, mdbTbl, mdbTblHead, mdbTblBody , mdbContainer, mdbRow, mdbCol, mdbInput, mdbTextarea, mdbBtn, mdbIcon, mdbModal, mdbModalHeader, mdbModalBody, mdbModalFooter } from 'mdbvue';
    export default {
        name: 'BankAccountList',
        components: {
            mdbTbl,
            mdbTblHead,
            mdbTblBody,
            mdbContainer,
            mdbRow,
            mdbCol,
            mdbInput,
            mdbTextarea,
            mdbBtn,
            mdbIcon,
            mdbModal,
            mdbModalHeader,
            mdbModalBody,
            mdbModalFooter,
            mdbDatatable
        },
        data() {
            return {
                data: {
                  columns: [
                    {
                      label: 'Name',
                      field: 'firstname',
                      sort: 'asc'
                    },
                    {
                      label: 'Age',
                      field: 'age',
                      sort: 'asc'
                    },
                    {
                      label: 'Gender',
                      field: 'gender',
                      sort: 'asc'
                    },
                    {
                      label: 'Email',
                      field: 'email',
                      sort: 'asc'
                    },
                    {
                      label: 'City',
                      field: 'city',
                      sort: 'asc'
                    },
                    {
                      label: 'State',
                      field: 'state',
                      sort: 'asc'
                    }
                  ],
                  rows: []
                },
                showModal: false,

                account: {
                    _id: '',
                    firstname: '',
                    lastname: '',
                    email: '',
                    address: '',
                    age: '',
                    employer: '',
                    city: '',
                    state: ''
                },
                alertSuccess: false,
                message: "",
                messageType: "alert-success",
                deleteModal: false,
                deleteId: "",
                search: {
                    name: "",
                    email: "",
                    city: "",
                    employer: ""
                },
                role: '',
                page: 1,
            };
        },
        async created() {
            this.role = localStorage.role;
            await this.getAccountList();
        },
        methods: {
            showDeleteModal(id) {
                this.deleteModal = true;
                this.deleteId = id;
            },

            getAccountList () {
                let self = this;
                let query = '?page=' + this.page;
                axios.get('http://localhost:3000/account/list' + query)
                    .then(response => {
                        self.data.rows = response.data.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })
            },

            saveAccount () {
                console.log(this.account);
                let self = this;
                axios.post('http://localhost:3000/account', this.account)
                    .then(res => {
                        if (res.data.status === 1) {
                            self.showModal = false;
                            self.alertSuccess = true;
                            self.messageType = "alert-success";
                            self.getAccountList();
                        } else {
                            self.showModal = false;
                            self.alertSuccess = true;
                            self.messageType = "alert-error";
                        }
                        self.message = res.data.message;
                    }).catch(e => {
                        console.log(e);
                })
            },
            deleteAccount() {
                let self = this;
                let url = 'http://localhost:3000/account/delete/' + this.deleteId;
                axios.get(url)
                    .then(res => {
                        self.deleteModal = false;
                        self.message = res.data.message;
                        if (res.data.status === 1) {
                            self.messageType = "alert-success";
                            self.getAccountList();
                        } else {
                            self.messageType = "alert-error";
                        }
                        self.deleteId = "";
                    }).catch(e => {
                        console.log(e);
                });
            },
            showUpdateAccount(data) {
                this.account = data;
                this.showModal = true;
            },
            searchAccount(event) {
                event.preventDefault();
                event.target.classList.add('was-validated');
                let self = this;
                axios.post('http://localhost:3000/account/search', this.search)
                    .then(response => {
                        self.data.rows = response.data.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })
            },
            clearSearch() {
                this.search.city = "";
                this.search.firstname = "";
                this.search.lastname = "";
                this.search.employer = "";
            },
        }
    }
</script>

<style scoped>
  .user-list {
    padding-top: 50px;
  }
  .table-list {
    padding-top: 20px;
    max-width: 1600px;
    position: relative;
  }
  .box {
    width: 48%;
  }
  .left-box {
    float:  left;
  }
  .right-box {
    float: right;
  }
  .page-next {
    cursor: pointer;
    position: absolute;
    right: -80px;
    top: 45%;
    color: indianred;
    font-size: 50px;
  }
  .page-prev {
    cursor: pointer;
    position: absolute;
    left:-80px;
    top: 45%;
    color: indianred;
    font-size: 50px;
  }
</style>
