<template>
  <!-- Material form register -->
  <form v-on:submit="login">
    <div class="alert alert-dismissible fade show alert-danger" role="alert" v-show="alertError">
      {{ errorMessage }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" v-on:click="alertError = false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <p class="h4 text-center mb-4">Sign in</p>
    <div class="grey-text">
      <mdb-input label="Username" icon="user" type="text" v-model="user.username"/>
      <mdb-input label="Password" icon="lock" type="password" v-model="user.password"/>
    </div>
    <div class="text-center">
      <mdb-btn color="primary" type="submit">Login</mdb-btn>
    </div>
  </form>
  <!-- Material form register -->
</template>

<script>
    import axios from 'axios';
    import { mdbInput, mdbBtn } from 'mdbvue';
    import router from "../router";
    export default {
        name: 'Login',
        components: {
            mdbInput,
            mdbBtn
        },
        data () {
            return {
                user: {
                    username: '',
                    password: ''
                },
                alertError: false,
                errorMessage: ''
            }
        },
        methods: {
            login() {
                let self = this;
                axios.post('http://localhost:3000/login', self.user)
                    .then(response => {
                        console.log(response.data.data.role);
                        if (response.data.data.length === 0) {
                            self.errorMessage = response.data.message;
                            self.alertError = true;
                        } else {
                            localStorage.logged = true;
                            localStorage.role = response.data.role;
                            router.push({path: '/'});
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
            }
        }
    }
</script>

<style scoped>
  form {
    margin: auto;
    width: 500px;
    padding-top: 10%;
  }
</style>
